[Unit]
Description=Chinachu
Requires=mirakurun-user.service
After=mirakurun-user.service

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
WorkingDirectory=/usr/local/projects/tvs
ExecStart=/usr/local/bin/docker-compose up -d chinachu
ExecStop=/usr/local/bin/docker-compose stop chinacnu

[Install]
WantedBy=default.target
