[Unit]
Description=All in one Mirakurun & Chinachu
Requires=docker.service
After=docker.service network.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
WorkingDirectory=/usr/local/projects/tvs/
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
